<div data-role="header">
  <h1><%= @friend.name %></h1>
</div>
<div data-role="content">
  <p id="notice"><%= notice %></p>
  <p>
    <%= @friend.mobile %>
  </p>
</div>
<div data-role="footer">
  <%= link_to 'Edit', edit_friend_path(@friend) %>
  <%= link_to 'Destroy', @friend, confirm: 'Are you sure?', method: :delete %>
  <%= link_to 'Back', friends_path %>
</div>